.App {
  /* text-align: center; */
}

.contentBody {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  max-width: 1200px;
  margin: 5px auto;
}

.usersSmall {
  display: grid;
  grid-template-columns: 80px 1fr;
  border: 1px solid #000;
  background-color: #1aa57b;
  border-radius: 4px;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.5);
}
.userImage {
  padding: 5px;
}
